Language: Cpp

AccessModifierOffset: -2 # Don't indent public / private
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Linux
BreakStringLiterals: true
ColumnLimit: 80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth: 4
NamespaceIndentation: Inner
PointerAlignment: Middle
SpaceBeforeParens: ControlStatements
SpacesInAngles: true
SpacesInParentheses: true
